
@{
    ViewData["Title"] = "Index";
}

<h1>桃園景點一覽表</h1>
<ul id="uli"></ul>
<div class="card text-bg-light mb-3" style = "max-width: 18rem;" >
<div class="card-header">Header</div>
<div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div >

@section Scripts{
    <script src="~/js/travel.js"></script>

    <script>
        const theUI = document.querySelector("#uli")
        const docFrag = document.createDocumentFragment()
        for (var i = 0; i < DATAS.length; i++) {
            console.log(DATAS[i].Name)

            const { Name, Add, TYWebsite } = DATAS[i]

            const text = document.createTextNode("景點名稱:" + Name + "  ,地址:" + Add + "  ,連結網址:" + TYWebsite)
            const eleLi = document.createElement("li")
            eleLi.appendChild(text)
            docFrag.appendChild(eleLi)
        }
        theUI.appendChild(docFrag)
    </script>

}
